# INRODUCING JUPYTER NOTEBOOK

In [4]:
mymsg = input("enter text here: ")
print("heri enter,", mymsg)

enter text here: Hi
heri enter, Hi

In [5]:
#input ini untuk masukin "input" sesuatu yang mau dimasukin
input("number")







HELOOO




HELOOO

number2

'2'

#### jkjkjk
# kasm,s

HELOOO

> hei
>> hei
>>>hey

## DATATYPES

In [2]:
print ("!!! HELLO WORLD !!!")

!!! HELLO WORLD !!!

In [6]:
print ("HELLO \nWORLD")

HELLO
WORLD

In [10]:
addres = "HOME"
print(addres)

HOME

In [13]:
print (2*5+3/4*66)

59.5

In [19]:
type(addres)

str

In [20]:
# numeric data types

num1 = 6
num2 = 4

print (num1 + num2)
print (num1 % num2)
type(num1)

10
2

int

In [24]:
# increment and decrement
num = 9
num += 1
print(num)

decrmnt = 9
decrmnt -= 1
print(decrmnt)

10
8

In [30]:
# float

num=20.5
print(num)
type(num)

20.5

float

In [32]:
# complex numbers
num = 3 + 4j
print(num)
type(num)

(3+4j)

complex

In [50]:
# logical

print(10<11)
print(True and False) #liked positive * negative you will find false
print(True or False)

#a = "dear"
#b = "hey"
print(a!=b) #you can give # at others statement and it will to

True
False
True
True

In [52]:
print(True and not False)
print(True or not False)

True
True

In [53]:
# text conversion
letters = "i am lower cased now"
print(letters.upper())

upprletters = "I AM UPPER CASED NOW"
print(upprletters.lower())

I AM LOWER CASED NOW
i am upper cased now

33.57 data types

In [4]:
strip_sentence = "  there is space in beginning"
print(strip_sentence)
print(strip_sentence.lstrip())

    there is space in beginning
there is space in beginning

In [5]:
strip_sentence = "there is space at the end"
print(strip_sentence)
print(strip_sentence.rstrip())

there is space at the end
there is space at the end

In [6]:
percentnum = "555%"
print(percentnum.rstrip("%"))

555

In [7]:
bothends = "  Trim Blanks"
print(bothends)
print(bothends.strip())

  Trim Blanks
Trim Blanks

In [12]:
mixedstr = '****55555####'
print(mixedstr.rstrip('#').lstrip('*'))

# rstrip hilangin sesuatu di sebelah kiri
# lstrip di sebelah kananya

55555

In [9]:
mixedstr = "10 people affected by Carona"
no_of_people = mixedstr[0:10]
print("number of people here:" , no_of_people)

# 0 di mulai dari paling awal
# dan :2 dua huruf dari awal maka yang keluar "10"
#[0:2] 0 ke 2 maka "10". '1' dihitung 1

number of people here: 10 people

## 10 PEOPLE AFFECTED BY CARONA
     ||| || | | | ||
### 01234 5 6 7 89.....

ketika di "print", out put
### 10 people affected...
     |||||
     12345

In [10]:
Rest_of_str = mixedstr[5:10]
print(Rest_of_str)

#2: maka dimulai dari spasi
# :_ dihitung sampe seterusnya

ople

In [13]:
# slicing  and dicling
# it means "teknik pilih data"
print(Rest_of_str[2:5])

le

In [2]:
# Tulisan dalan bemtuk grup

groupstr = "10 states 5 bananas 3 Women"
fruit = groupstr [22:27]
print(fruit)

Women

In [20]:
print(groupstr[ :-2])

10 states 5 bananas 3 Wom

In [25]:
slice_str = groupstr[10:-4]
print(slice_str)

5 bananas 3 W

In [6]:
nums_seq = '123456789'
even_nums = nums_seq[1::3]
print(even_nums)

# 1 untuk nomor ke dua
# 3 unutk nomor ke empat dan kelipatannya

258

In [7]:
odd_nums = nums_seq[ :: 2]
print(odd_nums)

13579

In [11]:
first_name = "Rama"
last_name = 'Rao'

#ini harus di shift+enter juga

In [12]:
name = first_name + " " + last_name
print(name)

Rama Rao

In [13]:
my_age = 40
#type(my_age)
my_age_text = ("I am ", str(my_age) , " years old")
print(my_age_text)

('I am ', '40', ' years old')

In [18]:
A = "Data"
B = "Science"
C = "Training"

print("{0} {1} using {2}".format(A,B,C))

Data Science using Training

In [21]:
#concoat and update
name += ' ' + my_age
print(name)

TypeError: can only concatenate str (not "tuple") to str